{% extends 'base.html' %}
{% import 'macros.html' as macro %}
<!-- Content block -->
{%block content%}
<div class="jumbotron text-center" style="background-color: #E63462; color: #fff; padding: 55px 25px; font-family: 'Monoton', cursive;">
    <h1>Blog APP</h1>
</div>
<div class="container" style="padding-bottom: 20px;">
    <a href="{{url_for('main.new_blog')}}" class="btn btn-success">Create blog</a>
</div>

<div class="well">
    <p>
        {{quote.quote}}
    </p>
    <p>
        {{quote.author}}
    </p>
</div>

<div class="container" style= "font-family: 'Cormorant Upright', serif;">
    <h1>Recent posts</h1>
    <a href="/subscribe/{{current_user.id}}" class="btn btn-success">Subscribe</a>
    <hr>
    {{macro.displayBlogs(blogs)}}
</div>
{%endblock%}
